@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root {
    --colour-riflegreen: #4E5340;
    --colour-nickel: #697268;
    --colour-cadetgrey: #95A3A4;
    --colour-columbiablue: #B7D1DA;
    --colour-alabaster: #E2E8DD;
    --colour-primarywhite: #ffffff;
    --colour-offwhite: hsl(255, 50%, 98%);

}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
ul,
li,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--colour-offwhite);
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 220px;
    background-color: var(--colour-riflegreen);
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

.sidebar h1 {
    color: var(--colour-primarywhite);
    font-size: 40px;
    margin: 20px;
    font-family: 'Bitter', serif;
}

.sidebar li {
    list-style: none;
    color: var(--colour-primarywhite);
    /* margin: 50px; */
    margin-bottom: 40px;
    font-size: 16px;
}

.sidebar ul {
    margin-top: 35px;
    -webkit-padding-start: 0;
}

.sidebar a{
    text-decoration: none;
    color: var(--colour-primarywhite);
    background-color: var(--colour-riflegreen);
    box-shadow: none;
    border: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
    -o-transition: color 0.5s ease-out;
    transition: color 0.5s ease-out;
}

.sidebar a:hover {
    color: black;
}

.sidebar img {
  padding-left: 10px;
}



.main {
    margin-left: 300px;
    height: 100%;
    
  }

.library {
    display: flex;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 180px;
    background-color: var(--colour-cadetgrey);
    color: var(--colour-offwhite);
    border-radius: 15px;
    margin: 50px;
    padding: 20px;
    gap: 20px;
    box-shadow: 1px 1px #778283,
    2px 2px #778283;
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
}

.book:hover {
  zoom: 102%;
  background-color: var(--colour-nickel);
  
}

#removeBtn {
  
  margin-right: 10px;
  color: var(--colour-riflegreen);
  border: 1px solid var(--colour-riflegreen);
  background-color: inherit;
  border-radius: 10px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  width: 85px;
  height: 40px;
}

#removeBtn:hover {
  background-color: var(--colour-riflegreen);
  color: var(--colour-primarywhite);
}

.readBtn {
  background-color: var(--colour-riflegreen);
  color: var(--colour-primarywhite);
  border: 1px solid var(--colour-riflegreen);
  /* background-color: inherit; */
  border-radius: 10px;
  width: 85px;
  height: 40px;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;

}

.readBtn:hover {
  background-color: var(--colour-primarywhite);
  color: var(--colour-riflegreen);
}

.readBtn.notRead {
  background-color: inherit;
  color: var(--colour-riflegreen);
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.readBtn.notRead:hover {
  background-color: var(--colour-riflegreen);
  color: var(--colour-primarywhite);
}

.no-books {

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.no-books h3 {
  color: var(--colour-cadetgrey);
  font-size: 4rem;
}

.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 3rem;
    z-index: 9999;
      
}
/* Modal Content/Box */
.formPopup {
    background-color: var(--colour-primarywhite);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colour-primarywhite);
    border-bottom: 27px solid #FAF9FD;
    border-radius: 15px;
    padding: 3rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }

  .formContainer {
    display: flex;
    flex-direction: column;
  }

  .formContainer h3 {
    color: var(--colour-riflegreen);
    font-size: 1.5rem;
    font-weight: 700;
  }

  .input {
    font-size: 1rem;
    font-size: Max(1rem, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: var(--colour-offwhite);
    border: 1px solid var(--colour-cadetgrey);
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
  }
  
  .input:focus {
    border-color: var(--colour-riflegreen);
    box-shadow: 0 0 0 2px var(--colour-riflegreen);
    outline: 2px solid transparent;
  }
  
  label {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: var(--colour-nickel);
    margin: 2rem 0 1rem 0;
  }
  
  .input+label {
    margin-top: 2rem;
  }

  .formBtns {
    margin: 2rem 0 1rem 0;
  }

  .formBtns button {
    display: inline-block;
    border: 1px solid var(--colour-offwhite);
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--colour-riflegreen);
    color: var(--colour-primarywhite);
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
      transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .formBtns button:hover {
    color: var(--colour-riflegreen);
    background: none;
    border: 1px solid var(--colour-riflegreen);
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: 160px;
      margin-bottom: 20px;
      position: relative;
    }

    .sidebar h1 {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .sidebar ul {
        display: flex;
        margin-top: 0px;
    }

    .sidebar li {
        margin-bottom: 10px;
        margin-right: 20px;
    }
    div.main {margin-left: 0;}
  }

